<header
  class="h-14 bg-slate-200 text-white flex items-center justify-between px-4 shadow-md transition-all duration-300 w-full">
  <div class="flex items-center space-x-2"></div>

  <div class="flex items-center space-x-4">
    <button
      (click)="abrirConsigna()"
      class="hover:bg-gray-700 px-2 py-1 rounded transition text-gray-700 hover:text-gray-50">
      Consigna
    </button>
    <button
      (click)="abrirSobreNosotros()"
      class="hover:bg-gray-700 px-2 py-1 rounded transition text-gray-700 hover:text-gray-50">
      Sobre nosotros
    </button>
  </div>
</header>
