<!-- headerbar.component.html -->
<header
    class="h-14 bg-slate-200 text-white flex items-center justify-between px-4 shadow-md transition-all duration-300 w-full">
    <!-- Logo / título -->
    <div class="flex items-center space-x-2">
        <!-- <span class="material-icons-outlined">apps</span>
        <span class="font-bold">MiApp</span> -->
    </div>

    <!-- Acciones / botones -->
    <div class="flex items-center space-x-4">
        <button class="hover:bg-gray-700 px-2 py-1 rounded transition text-gray-700 hover:text-gray-50">Consigna</button>
        <button class="hover:bg-gray-700 px-2 py-1 rounded transition text-gray-700 hover:text-gray-50">Sobre mí</button>
    </div>
</header>