<div class="toolbar my-2 flex justify-start">
    <button mat-raised-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Volver
    </button>
</div>

<div class="container max-w-md mx-auto bg-white shadow-md rounded-2xl p-6 mt-4">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

        <!-- Nombre del producto -->
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nombre del Producto</mat-label>
            <input matInput formControlName="name" >
        </mat-form-field>

        <!-- Precio -->
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName="price" >
        </mat-form-field>

        <!-- Activo -->
        <mat-slide-toggle formControlName="active">
            Activo
        </mat-slide-toggle>

        <!-- Botón guardar -->
        <div class="flex justify-end mt-4">
            <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">
                <mat-icon>save</mat-icon>
                Guardar
            </button>
        </div>
    </form>
</div>